* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.app.dark {
  --bg-color: rgb(2 2 111);
  --inverted-bg-color: rgb(200 200 208);
  --primary-color: rgb(6 187 6);
  --secondary-color: rgb(2 189 2);
  --inverted-primary-color: rgb(4 60 112);
  --inverted-secondary-color: rgb(12 113 229);
}

.app.light {
  --bg-color: rgb(200 200 208);
  --inverted-bg-color: rgb(1 1 76);
  --primary-color: rgb(3 80 152);
  --secondary-color: rgb(16 108 214);
  --inverted-primary-color: rgb(6 187 6);
  --inverted-secondary-color: rgb(2 189 2);
}

:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(var(--font-size-m)) / var(var(--font-line-m))
    var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(var(--font-size-l)) / var(var(--font-line-l))
    var(--font-family-main);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}