.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.2s ease-in;
}


.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color) !important;
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}


.collapsed {
  width: var(--sidebar-width-collapsed);

  & .switchers {
    flex-direction: column;
  }

  & .link {
    opacity: 0;
    transform: opacity 0.3s;
    width: 0;
  }
}